button.PrimaryButton{
    display: inline-block;
    background-color: var(--primaryColor);
    width: 35%;
    height: 36px;
    display: block;
    margin: var(--spacing) auto;
    padding: 0 var(--spacing);
    color: var(--textColor);
    font-size: var(--butonText);
}

@media screen and (max-width:800px) {
    button.PrimaryButton{
        width: 80%;
    }
}