body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  background-color: var(--backgroundColor);
  text-align: center;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root{
  --backgroundColor: #000;
  --primaryColor: #00838F;
  --secondaryColor: #FFF;
  --textColor: #FFF;
  --accentColor: #B00020;
  --spacing: 8px;
  --spacingLarge: 16px;
  --spacingExtraLarge: 32px;
  --heading: 1.2rem;
  --subHeading: 1rem;
  --title: 0.8rem;
  --butonText: 1rem;
}